@import "./style.css";
@import "./reset.css";

@import "./pages/home.css";
@import "./pages/todo.css";

body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: #09090B;
  color: #FFFFFF;
}