
/* layout */
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.section {
  padding: 1.25rem 0;
}

/* button */
.filled-button {
  color: inherit;
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;

  background-color: #27272A;
  padding: 0.125rem 0.625rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25rem;
  border-radius: 0.25rem;
}